.apply-button {
  padding: 10px;
  background-color: #FF0000;
  color: #fff;
  cursor: pointer;
}
.apply-button:hover {
  background-color: #8B0000; /* Button background color on hover */
  color: #fff;
}


.approve-btn {
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.disapprove-btn {
  background-color: #f44336; /* Red */
  color: white;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reason-input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}